html {
	height: 100%;
    background: #333;
    background: -webkit-linear-gradient(#333, #30516C); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#333, #30516C); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#333, #30516C); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#333, #30516C); /* Standard syntax (must be last) */
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

#logo {
    max-width: 80%;
    max-height: 20%;
    margin: auto;
    display: block;
}

#slides {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 250px;
}

#slides ul {
    list-style: none;
    width:100%;
    height:250px;
    margin: 0;
    padding: 0;
    position: relative;
}

#slides li {
    width:100%;
    height:250px;
    float:left;
    text-align: center;
    position: relative;
    font-family:lato, sans-serif;
}

.slide {
    width: 40%;
    margin: auto;
}

.quote-phrase, .bahasa, .judul {
    font-family:sans-serif;
    font-weight:300;
    display: table-cell;
    vertical-align: middle;
    font-family: Consolas, 'Lato', Calibri, Arial, sans-serif;
}

.quote-phrase, .judul {
    height: 200px;
    font-size: 24px;
    color:#FFF;
    text-shadow:.5px 0px #b14943;
    text-align: center;
    width: 40%;
    margin: auto;   
}

.text-bahasa, .judul {
    color:#ffe947;
    font-size: 30px;
}




.bahasa {
    font-style:normal;
    font-size: 14px;
    color:#ffe947;
    font-weight:400;

}

.bahasa-daerah, .bahasa-pemrograman {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  min-width: 95px;
  margin: 0 6px;
  padding: 6px;
  border: none;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  font: normal 14px "Lucida Console", Monaco, monospace;
  color: rgba(0,0,0,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #ffe947;
}

.textContainer, .bahasaContainer {
    display: table;
    width: 100%;
}